
<!-- ENTER EMAIL:<input type="text" [(ngModel)]=""><br><br> -->
<!-- ENTER PWD:<input type="text" [(ngModel)]="pwd"><br><br> -->
<form class="was-validated"> 
<div class="form-group">
    <label for="email">Email address:</label>
    <input name="mail" type="email" class="form-control" [(ngModel)]="mail" placeholder="Enter email" id="email" required>
</div>
<div class="form-group">
    <label for="Password">Password:</label>
    <input name="mail" type="text" class="form-control" [(ngModel)]="pwd" placeholder="Enter Password" id="pwd" minlength="6" required>
</div>

<a style="float: right;" routerLink="/forgotPWD">FORGOT PASSWORD</a>

<br>

<label>Select Type:</label>
<div class="custom-control custom-radio custom-control-inline">
    <input type="radio" name="selection" class="custom-control-input" [(ngModel)]="selec" value="user">
    <label class="custom-control-label" for="customRadioInline1">User</label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio"  name="selection" class="custom-control-input" [(ngModel)]="selec" value="Res">
    <label class="custom-control-label" for="customRadioInline2">Resturant</label>
  </div>
    
  <br>
  <input type="button" (click)="login()" value="login" class="btn btn-primary">
</form>


