
<p align="right">
<input type="button" value="Sign Out" class="btn btn-danger" style="margin: 5px;" (click)="quit()">
</p>

Current Reservations:<br>
<table class="table table-bordered">
    <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Cuisine</th>
    <th>Date</th>
    <th>Reservation</th>
    </tr>

    <tr *ngFor="let rese of reservations">
        <td *ngIf="rese.user==user">{{rese.restaurant.resName}}</td>
        <td *ngIf="rese.user==user">{{rese.restaurant.resArea}}</td>
        <td *ngIf="rese.user==user">{{rese.restaurant.resType}}</td>
        <td *ngIf="rese.user==user">{{rese.date}}</td>
        <td *ngIf="rese.user==user"><input type="button" value="Cancel" (click)="cancel(rese)" class="btn btn-primary"></td>
        
    </tr>
</table>
<br>
Available Restaurants:<br>

<table class="table table-bordered">
    <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Cuisine</th>
    <th>Reservation</th>
    </tr>

    <tr *ngFor="let r of restaurants">
        <td>{{r.resName}}</td>
        <td>{{r.resArea}}</td>
        <td>{{r.resType}}</td>
        <!-- <td><input type="date" [(ngModel)]="res.date" ></td> -->
        <td><input type="button" value=reserve (click)="reserve(r)" class="btn btn-primary"></td>
        
    </tr>
</table>
<br>
<input type="date" [(ngModel)]="date" min="2022-01-24">
